.bg { 

    background-image: url(../images/JL_Background2.png);

    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-position: bottom;
}

img {
    cursor: pointer;
    /* margin-bottom: 20px;
    margin-left: 20px; */
}


img:hover {
    background: blue;
}

button {
    margin: 50px; 
    margin-top: 30px;
    height: 50px;
    width: 150px;
    display: flex; 
    justify-content: center;
}

.card-body {
    padding: 0;
    padding-left: 20px;
}

p {
    color: red;
}

#playerSection {
    border: solid 3px green;
}

#opponentSection {
    border: solid 3px red;
}

.card {
    margin-left: 10px;
}